html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

p,
h1, 
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.map {
  height: 100%;
  background-color: #1b1b1d;
}

.panel {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1b1b1d;
  color: #e9e7e7;
  z-index: 1000;
  padding: 0.6em 0.9em;
  opacity: 0.8;
  transition: opacity 200ms ease-out;
  margin: 0.5em;
  max-width: 21em;
}

.panel:hover {
  opacity: 1;
}

.panel__title {
  font-size: 1.45em;
  margin-bottom: 0.2em;
}

.control__label {
  display: block;
}

.control__input {
  background-color: #e9e7e7;
  border: none;
  padding: 0.3em 1rem;
  border-radius: 0;
  font: inherit;
  font-size: 0.8em;
}

/*
  Leaflet controls
*/
.leaflet-bar a, .leaflet-bar a:hover {
  background-color: #1b1b1d;
  color: #e9e7e7;
  box-shadow: none;
  border: none;
  margin-bottom: 0.2em;
  opacity: 0.8;
}

.leaflet-bar a:hover {
  opacity: 1;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 0;
}


/* 
  Tooltip
*/
.tooltip {
  background-color: #1b1b1d;
  color: #e9e7e7;
  box-shadow: none;
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 20rem;
  white-space: normal;
  padding: 0.5em;
}

.leaflet-tooltip-left:before {
  border-left-color: #1b1b1d;
}

.leaflet-tooltip-right:before {
  border-right-color: #1b1b1d;
}

.tooltip__title {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.tooltip__percent {
  font-weight: 600;
}