html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

p,
h1, 
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.map {
  height: 100%;
  background-color: gray;
}

.panel {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #030303;
  color: #f0f0f0;
  z-index: 1000;
  padding: 0.6em 0.9em;
  opacity: 0.8;
  transition: opacity 200ms ease-out;
  margin: 0.5em;
  max-width: 21em;
}

.panel:hover {
  opacity: 1;
}

.panel__section {
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #666;
}

.panel__section:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.panel__title {
  font-size: 1.45em;
  margin-bottom: 0.2em;
}

.rank {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1.5em;
}

.rank:last-of-type {
  margin-bottom: 0;
}

.rank__item {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 0 0.5em;
  margin-bottom: 0.2em;
}


.rank__name {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/*
  Leaflet controls
*/
.leaflet-bar a, .leaflet-bar a:hover {
  background-color: black;
  color: #e0e0e0;
  box-shadow: none;
  border: none;
  margin-bottom: 0.2em;
  opacity: 0.8;
}

.leaflet-bar a:hover {
  opacity: 1;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 0;
}


/* 
  Tooltip
*/
.leaflet-rrose-content-wrapper, .leaflet-rrose-tip {
  background-color: black;
  color: #e0e0e0;
}

.tooltip {
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  max-width: 15em;
  font-size: 1rem;
}

.tooltip__title {
  font-size: 1.2em;
}

.tooltip__percent {
  font-weight: 600;
  color: white;
}